<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代辦事項內容頁</title>
    <style>
        .todo {
            background-color: aqua;
            width: 50%;
            border-radius: 12px;
            padding-left: 12px;
            margin: 6px;
        }
    </style>
</head>

<body>
    <h1>ToDo</h1>

    <div class="todo">
        {% if todo %}
        <h3>{{todo.title}}</h3>
        <h4>{{todo.created}}</h4>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
        {% else %}
        <h2>無此代辦事項</h2>
        {% endif %}
    </div>

</body>